<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${volunteer.name} | Live Mas Adoptions`}) %>
    <link rel="stylesheet" href="/styles/volunteer-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h2>Editing the information for: <%= volunteer.name %></h2>

    <form method='POST' action="/volunteers/<%= volunteer._id %>?_method=PUT">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="<%= volunteer.name %>" required>

        <label for="email">Email: </label>
        <input type="text" id="email" name="email" value="<%= volunteer.email %>" required>

        <label for="phoneNumber">Phone Number: </label>
        <input type="text" id="phoneNumber" name="phoneNumber" value="<%= volunteer.phoneNumber %>" required>

        <input type="submit" value="Edit Volunteer">
    </form>

    <button class="btn"><a href="/volunteers">Return to Volunteers</a></button>
</body>
</html>