<!-- <!DOCTYPE html>
<html lang="en">


<head>
    <%- include('./partials/head.ejs', {title: 'Live Mas Adoptions | The Animals' }) %>
    <link rel="stylesheet" href="/styles/pet-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

<main>
    <% for (let pet of pets) { %>
    <figure>
        <img src="<%= pet.photo %>" alt="cat or dog">
        <figcaption>
            <h4><%= pet.name %>, age: <%= pet.age %> year(s) old</h4>
            <a href="/pets/<%= pet._id %>">Learn More!</a>
        </figcaption>
    </figure>
    <% } %>
</main>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: 'Fuzzy Ones | Live Mas Adoptions' }) %>
    <link rel="stylesheet" href="/styles/pet-index.css" />
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
      <div class="box">
        <div class="content">
            h1s or whatever go here
        </div>
        <div class="featured-pets">
          <ul class="pet-grid">
            <% for (let pet of pets) { %>
            <li>
              <figure>
                <img src="<%= pet.photo %>" alt="Kitten" />
              </figure>
              <figcaption>
                <div class="featured-info">
                  <h3><%= pet.name %></h3>
                  <p>Age: <%= pet.age %> yr(s)</p>
                  <a href="/pets/<%= pet._id %>" class="btn">Learn More</a>
                </div>
              </figcaption>
            </li>
            <% } %>
          </ul>
        </div>
        <%- include('./partials/footer.ejs') %>
      </div>
    </div>
  </body>