<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Live Mas Adoptions | ${pet.name}`}) %>
    <link rel="stylesheet" href="/styles/pet-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="pet-detail-container">
            <figure>
                <img src="<%= pet.photo %>" alt="cat or dog">
                <figcaption>
                    <h4><%= pet.name %>, age: <%= pet.age %> year(s) old</h4>
                    <p><%= pet.about %></p>
                </figcaption>
            </figure>
    </div>
</body>

</html>